{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../../static/blog/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../../static/blog/css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="../../static/blog/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="../../static/blog/css/owl-carousel.css">

        <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <title>Covid Saathi</title>
    </head>
    <body>
      <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">Art Factory</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a  href="{% url 'blog-home' %}">Home</a></li>
                            <li class="scroll-to-section"><a  href="{% url 'blog-about' %}">About</a></li>
                            <li class="scroll-to-section"><a  href="#contact-us">Contact</a></li>
                            <li class="scroll-to-section"><a  href="#frequently-question">FAQs</a></li>
                            <!-- <li class="scroll-to-section"><a href="#frequently-question">Frequently Questions</a></li> -->
                            {% if user.is_authenticated %}
                            
                            <li class="submenu">
                              <a href="javascript:;">Drop Down</a>
                              <ul>
                                  <li><a  href="{% url 'dash-view' %}">Dashboard</a></li>
                                  <li><a  href="{% url 'post-create' %}">Enter Yourself</a></li>
                                  <li><a href="">Blog</a></li>
                              </ul>
                            </li>
                      <!-- <li class="scroll-to-section"><a  href="{% url 'dash-view' %}">Dashboard</a></li>
                      <li class="scroll-to-section"><a  href="{% url 'post-create' %}">Enter Yourself</a></li> -->
                      <li class="scroll-to-section"><a  href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                      <li class="scroll-to-section"><a  href="{% url 'login' %}">Login</a></li>
                      <li class="scroll-to-section"><a  href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                            
                        </ul>
                        <!-- <a class='menu-trigger'>
                            <span>Menu</span>
                        </a> -->
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

        <!-- <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                <a class="navbar-brand mr-4" href="/">Django Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
                    </div>
                    Navbar Right Side
                    {% if user.is_authenticated %}
                    <div class="navbar-nav">
                      <a class="nav-item nav-link" href="{% url 'dash-view' %}">Dashboard</a>

                        <a class="nav-item nav-link" href="{% url 'post-create' %}">Enter Yourself</a>
                      <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
                    </div>
                    {% else %}
                    <div class="navbar-nav">
                      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                      <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    </div>
                    {% endif %}
                </div>
                </div>
            </nav>
        </header> -->
        <main style="margin-top: 100px;" role="main" class="container">
            <div class="row">
              <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
              </div>
              <div class="col-md-4">
                <div >
                    <h3>Filters Available</h3>
                    <p class='text-muted'>Choose the option which is most suitable for you</p>
                    
                        <div class="dropdown navElements">
                            <button class="dropbtn">City</button>
                            <div class="dropdown-content">
                                <a href="/category1/Mumbai/">Mumbai</a>
                                <a href="/category1/Pune/">Pune</a>
                                <a href="/category1/Nagpur/">Nagpur</a>   
                                <a href="/category1/Delhi/">Delhi</a>
                                <a href="/category1/Noida/">Noida</a>
                                <a href="/category1/Chandigarh/">Chandigarh</a>
                                <a href="/category1/Amritsar/">Amritsar</a>
                            </div>
                        </div>
                        <div style="margin-left: 10px;" class="dropdown navElements">
                            <button class="dropbtn">Area</button>
                            <div class="dropdown-content">

                                <a href="/category2/Andheri/">Andheri</a>
                                <a href="/category2/Worli/">Worli</a>
                                <a href="/category2/Bandra/">Bandra</a>
                                <a href="/category2/Breach_Candy/">Breach Candy</a>
                                <a href="/category2/Thane/">Thane</a>
                                <a href="/category2/Ghatkopar/">Ghatkopar</a>
                                <a href="/category2/Friends_Colony/">Friends Colony</a>
                                <a href="/category2/Hinjawadi/">Hinjawadi</a>
                                <a href="/category2/Chandani_Chowk/">Chandani Chowk'</a>
                                
                        </div>                  
 
                </div>
                </div>
        </div>
            </div>
        </main> 
        <script src="../../static/blog/js/jquery-2.1.0.min.js"></script>

        <!-- Bootstrap -->
        <script src="../../static/blog/js/popper.js"></script>
        <script src="../../static/blog/js/bootstrap.min.js"></script>
    
        <!-- Plugins -->
        <script src="../../static/blog/js/owl-carousel.js"></script>
        <script src="../../static/blog/js/scrollreveal.min.js"></script>
        <script src="../../static/blog/js/waypoints.min.js"></script>
        <script src="../../static/blog/js/jquery.counterup.min.js"></script>
        <script src="../../static/blog/js/imgfix.min.js"></script> 
        
        <!-- Global Init -->
        <script src="../../static/blog/js/custom.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block jquery %}{% endblock %}
    
      </body>
</html>